<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>SFU Book Club</title>
      <%= stylesheet_link_tag "buy.scss" %>
      <div class="title">
          <h1>SFU Book Club</h1>
      </div>

<head>
  <div class="nav">
</head>

<body>
<ul>
    <li><%= link_to "Home" , "../../home/home_page" %></li>
    <li><%= link_to "Buy" , "../../buy/buy_page" %></li>
    <li><%= link_to "Sell" , "../../sell/sell_page" %></li>
    <li><%= link_to "About" , "../../about/about_page" %></li>
    <li style="float:right"><a class="active" href="bookclub.html">Logout</a></li>
</ul>
  <div class="textbox">
      <h2>Buying Textbooks<h2>
  </div>
</body>
</div>
</html>
